#myContent {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.white-space{
  color: white;
  position: absolute;
  top: 58.9vh;
  left: 51.75vw;
}
.spaced{
text-align: center;
}
.spaced:focus{
  border-color: #db0000;  
  box-shadow: 0 0 3px #ff7a7a;
  outline:none;
  }

.hide {
  display: none;
}

.shown {
  display: inline;
}

.hidden{
  opacity: 0%;
  border-radius: 7px;
  margin-top: 10px;
  width: 210px;
  padding: 3px;
  font-size: 15px;
}
.show{
  color: red;
  opacity: 100%;
  border-radius: 7px;
  margin-top: 10px;
  width: 210px;
  padding: 3px;
  font-size: 15px;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.position-1{
  position: absolute;
  left: 1030px;
  top: 450px;
}

.position-2{
  position: absolute;
  left: 1030px;
  top: 340px;
}

.material-icons-outlined-red{
  color: rgb(255, 98, 98);
}


.myButton {
	background-color:#FF3F2C;
	border-radius:15px;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.myButton:focus{
  box-shadow: 0px 0px 4px #cc001f;
}
.signin-btn{
  font-size: 25px;
  height: 94px;
  width: 250px;
  font-size:25px;
	padding: 30px;
}
.check-btn{
  margin-bottom: 25px;
	padding: 15px;
}

.myButton:hover {
	background-color:#eb3a2a;
}
.myButton:active {
	position:relative;
	top:1px;
}



.e0lpqv92 {
  background-image: linear-gradient(var(--color-f7f7f7ff) 0%, var(--color-f7f7f7ff) 100%);
  font-family: Raleway;
  grid-auto-flow: column;
  height: 900px;
  justify-content: center;
  width: 1905px;
}

.e0eaq4pm {
  align-content: start;
  height: 105px;
  margin-left: 44px;
  margin-top: 7px;
  width: 169px;
}

.e0a11xom {
  align-content: start;
  width: 585px;
}

.e0s608b6 {
  height: 936px;
  width: 603px;
}

.e00r9ks2 {
  align-content: start;
  align-items: end;
  color: rgb(21, 24, 101);
  font-size: 20px;
  height: 92px;
  justify-content: start;
  justify-items: center;
  justify-self: start;
  line-height: 122px;
  margin-left: 60px;
  text-align: center;
  width: 325px;
}

.e04isuju {
  align-content: start;
  height: 904px;
  width: 825px;
}

.e0dubzf6 {
  align-content: start;
  color: rgb(21, 24, 101);
  font-size: 50px;
  font-weight: 700;
  height: 77px;
  line-height: 70px;
  margin-left: 27px;
  margin-top: 148px;
  width: 397px;
}

.e00e1zg2 {
  align-content: start;
  color: rgb(21, 24, 101);
  filter: opacity(60%);
  font-size: 30px;
  line-height: 50px;
  margin-left: 27px;
  margin-top: 12px;
  width: 255px;
}

.e0d4z0ay {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  grid-auto-flow: column;
  height: 97px;
  justify-content: start;
  margin-left: 25px;
  margin-top: 46px;
  width: 809px;
  border-radius: 5px;
  border: 2px solid rgb(255, 63, 44);
}

.e0dweees {
  align-content: start;
  height: 25px;
  margin-left: 52px;
  margin-top: 36px;
  width: 21px;
}

.e0ss0d5z {
  align-content: start;
  color: rgb(139, 146, 172);
  font-family: "Source Sans Pro";
  font-size: 30px;
  line-height: 50px;
  margin-left: 23px;
  margin-top: 24px;
  width: 330px;
}

.e0tqcocw {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  grid-auto-flow: column;
  height: 97px;
  justify-content: start;
  margin-left: 25px;
  margin-top: 28px;
  width: 809px;
  border-radius: 5px;
  border: 2px solid rgb(255, 80, 62);
}

.e0xq87uf {
  align-content: start;
  height: 25px;
  margin-left: 54px;
  margin-top: 36px;
  width: 20px;
}

.e0b8fznr {
  align-content: start;
  color: rgb(139, 146, 172);
  font-family: "Source Sans Pro";
  font-size: 46px;
  line-height: 77px;
  margin-left: 22px;
  margin-top: 20px;
  width: 207px;
}

.e0nwmvra {
  grid-auto-flow: column;
  height: 73px;
  justify-content: start;
  width: 783px;
}

.e0ic3x5s {
  align-content: start;
  margin-left: 25px;
  margin-top: 40px;
  width: 20px;
  height: 20px;
  border-radius: 6px;
}

.e0xdnsec {
  align-content: start;
  height: 14px;
  margin-left: 7px;
  margin-top: 9px;
  width: 19px;
}

.e0jk3ek4 {
  align-content: start;
  color: rgb(21, 24, 101);
  font-size: 20px;
  line-height: 50px;
  margin-left: 15px;
  margin-top: 30px;
  width: 208px;
}

.e096jnus {
  align-content: end;
  align-items: end;
  color: rgb(21, 24, 101);
  font-size: 20px;
  height: 49px;
  line-height: 50px;
  margin-left: 340px;
  margin-top: 30px;
  width: 187px;
}



.e0vhmtrk {
  align-content: start;
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-left: 84px;
  margin-top: 0px;
  width: 88px;
}

.e0n1jaj5 {
  align-content: start;
  color: rgb(21, 24, 101);
  font-size: 25px;
  height: 40px;
  line-height: 50px;
  margin-left: 297px;
  margin-top: 5px;
  width: 273px;
}

.e0hs1gta {
  align-content: center;
  grid-auto-flow: column;
  height: 65px;
  justify-content: center;
  margin-top: 69px;
  width: 828px;
  padding: 0px;
}

.e0wnc6vo {
  align-content: start;
  margin-left: 423px;
  margin-top: 105px;
}

.e0eg8yji {
  align-content: start;
  color: rgb(21, 24, 101);
  font-size: 20px;
  height: 98px;
  line-height: 122px;
  text-align: center;
  width: 216px;
}

.e0zz0zvp {
  align-content: start;
  border-bottom-width: 0px;
  border-image-width: 1px 0px 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 1px;
  margin-left: 143px;
  margin-top: -16px;
  min-height: auto;
  width: 0px;
  border-style: solid;
  border-color: rgb(112, 112, 112);
}

.e00gdto9 {
  align-content: start;
  color: rgb(21, 24, 101);
  font-size: 20px;
  height: 94px;
  line-height: 122px;
  margin-left: 21px;
  text-align: center;
  width: 145px;

}

.e0m43qz1 {
  width: 223px;
}

.e0hw08yw {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  grid-auto-flow: column;
  height: 97px;
  justify-content: start;
  margin-left: 25px;
  margin-top: 28px;
  width: 809px;
  border-radius: 5px;
  border: 2px solid rgb(255, 80, 62);
}

.e0luhbqm {
  align-content: start;
  height: 25px;
  margin-left: 54px;
  margin-top: 36px;
  width: 20px;
}

.e0i9vuvk {
  align-content: start;
  color: rgb(139, 146, 172);
  font-family: "Source Sans Pro";
  font-size: 46px;
  line-height: 77px;
  margin-left: 22px;
  margin-top: 20px;
  width: 207px;
}

.e0m5b9e8 {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);  
  grid-auto-flow: column;
  height: 80px;
  justify-content: start;
  margin-left: 25px;
  margin-top: 28px;
  width: 760px;
  border-radius: 5px;
  border: 2px solid rgb(255, 80, 62);
}

.e04288ic {
  background-color: rgb(255, 255, 255);
  grid-auto-flow: column;
  height: 80px;
  justify-content: start;
  margin-left: 25px;
  margin-top: 28px;
  width: 760px;
  border-radius: 5px;
  border: 2px solid rgb(255, 80, 62);
}

.e0622dxu {
  height: 368px;
}

.e0zl1q51 {
  align-self: center;
  justify-self: center;
}

.e0ctg590 {
  height: 878px;
  width: 706px;
}

.e047m7t4 {
  height: 775px;
  width: 850px;
}

.e0rkucvc {
  height: 309px;
  width: 151px;
}

.e0g5dcrt {
  align-content: start;
  height: 943px;
  width: 847px;
}

.e02ukimg {
  align-content: start;
  color: rgb(21, 24, 101);
  font-size: 50px;
  font-weight: 700;
  height: 77px;
  line-height: 70px;
  margin-left: 27px;
  margin-top: 235px;
  width: 397px;
}

.e0ax29ap {
  align-content: start;
  color: rgb(21, 24, 101);
  filter: opacity(60%);
  font-size: 30px;
  line-height: 50px;
  margin-left: 27px;
  margin-top: 12px;
  width: 255px;
}

.e0bcefv2 {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  grid-auto-flow: column;
  height: 97px;
  justify-content: start;
  margin-left: 25px;
  margin-top: 46px;
  width: 809px;
  border-radius: 5px;
  border: 2px solid rgb(255, 63, 44);
}

.e06xj7s4 {
  align-content: start;
  height: 25px;
  margin-left: 52px;
  margin-top: 36px;
  width: 21px;
}

.e02okxun {
  align-content: start;
  color: rgb(139, 146, 172);
  font-family: "Source Sans Pro";
  font-size: 30px;
  line-height: 50px;
  margin-left: 23px;
  margin-top: 24px;
  width: 330px;
}

.e01b1quy {
  width: 223px;
}

.e0bye6ms {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  grid-auto-flow: column;
  height: 97px;
  justify-content: start;
  margin-left: 25px;
  margin-top: 28px;
  width: 809px;
  border-radius: 5px;
  border: 2px solid rgb(255, 80, 62);
}

.e0psgdlt {
  align-content: start;
  height: 25px;
  margin-left: 54px;
  margin-top: 36px;
  width: 20px;
}

.e01adixd {
  align-content: start;
  color: rgb(139, 146, 172);
  font-family: "Source Sans Pro";
  font-size: 46px;
  line-height: 77px;
  margin-left: 22px;
  margin-top: 20px;
  width: 207px;
}

.e01sp4sk {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  grid-auto-flow: column;
  height: 97px;
  justify-content: start;
  margin-left: 25px;
  margin-top: 28px;
  width: 809px;
  border-radius: 5px;
  border: 2px solid rgb(255, 80, 62);
}

.e022u2xn {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  grid-auto-flow: column;
  height: 97px;
  justify-content: start;
  margin-left: 25px;
  margin-top: 28px;
  width: 809px;
  border-radius: 5px;
  border: 2px solid rgb(255, 80, 62);
}

.e05abkwo {
  grid-auto-flow: column;
  height: 73px;
  justify-content: start;
  width: 834px;
}

.e0vwxs0x {
  align-content: start;
  background-image: linear-gradient(rgb(255, 63, 44) 0%, rgb(255, 63, 44) 100%);
  height: 33px;
  margin-left: 25px;
  margin-top: 40px;
  width: 33px;
  border-radius: 5px;
}

.e0ou3lmn {
  align-content: start;
  height: 14px;
  margin-left: 7px;
  margin-top: 9px;
  width: 19px;
}

.e0olu2xf {
  align-content: start;
  color: rgb(21, 24, 101);
  font-size: 30px;
  line-height: 50px;
  margin-left: 15px;
  margin-top: 30px;
  width: 208px;
}

.e0fdotvk {
  align-content: start;
  color: rgb(21, 24, 101);
  font-size: 30px;
  height: 49px;
  line-height: 50px;
  margin-left: 300px;
  margin-top: 30px;
  width: 250px;
}

.e03lgter {
  align-content: start;
  background-image: linear-gradient(rgb(255, 63, 44) 0%, rgb(255, 63, 44) 100%);
  height: 94px;
  margin-left: 305px;
  margin-top: 59px;
  width: 249px;
  border-radius: 15px;
}

.e0e991oi {
  align-content: start;
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-left: 84px;
  margin-top: 30px;
  width: 88px;
}

.e02vx377 {
  align-content: start;
  color: rgb(21, 24, 101);
  font-size: 29px;
  height: 47px;
  line-height: 48px;
  margin-left: 309px;
  margin-top: 31px;
  width: 273px;
}

.e0ww4ypr {
  height: 309px;
  width: 151px;
}

.e07b0s1l {
  grid-auto-flow: column;
  height: 129px;
  justify-content: start;
  width: 834px;
}

.e0asndh8 {
  align-content: start;
  color: rgb(21, 24, 101);
  font-size: 20px;
  height: 98px;
  line-height: 122px;
  text-align: center;
  width: 216px;
}

.e003nz2b {
  align-content: start;
  color: rgb(21, 24, 101);
  font-size: 20px;
  height: 94px;
  line-height: 122px;
  margin-left: 42px;
  text-align: center;
  width: 145px;
}

.e0iv7qk1 {
  align-content: start;
  margin-left: 423px;
  margin-top: 105px;
}

.e0wgp7ev {
  align-content: start;
  border-bottom-width: 0px;
  border-image-width: 1px 0px 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 1px;
  margin-left: 143px;
  margin-top: -16px;
  min-height: auto;
  width: 0px;
  border-style: solid;
  border-color: rgb(112, 112, 112);
}

.e0oba3w4 {
  align-content: start;
  color: rgb(21, 24, 101);
  font-size: 20px;
  height: 79px;
  line-height: 122px;
  margin-left: 22px;
  margin-top: 3px;
  text-align: center;
  width: 325px;
}

.e0l8a8dg {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  grid-auto-flow: column;
  height: 97px;
  justify-content: start;
  margin-left: 25px;
  margin-top: 28px;
  width: 809px;
  border-radius: 5px;
  border: 2px solid rgb(255, 80, 62);
}

.e0nog5q0 {
  align-content: start;
  height: 25px;
  margin-left: 54px;
  margin-top: 36px;
  width: 20px;
}

.e0hflzgr {
  align-content: start;
  color: rgb(139, 146, 172);
  font-family: "Source Sans Pro";
  font-size: 46px;
  line-height: 77px;
  margin-left: 22px;
  margin-top: 20px;
  width: 207px;
}

.e0f8y59b {
  height: 417px;
  width: 592px;
}

.e0cukewc {
  align-self: start;
  height: 600px;
  justify-self: center;
  width: 600px;
  margin: 0px;
}

.e0wttg98 {
  height: 49px;
  width: 177px;
}

.e0d6a1l3 {
  align-content: start;
  align-items: end;
  color: rgb(21, 24, 101);
  font-size: 20px;
  height: 92px;
  justify-content: start;
  justify-items: center;
  justify-self: start;
  line-height: 122px;
  margin-left: 60px;
  text-align: center;
  width: 325px;
}

.e0eux9cq {
  align-content: start;
  align-items: end;
  color: rgb(21, 24, 101);
  font-size: 20px;
  height: 92px;
  justify-content: start;
  justify-items: center;
  justify-self: start;
  line-height: 122px;
  margin-left: 22px;
  text-align: center;
  width: 253px;
}
